{% extends 'user_info.html' %}
{% block content %}
<div class="content">
	<div>
		<form action="" method="post" accept-charset="utf-8">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="提交" class="btn btn-default">
		</form>
	    <a href="{% url 'register' %}">注册</a>
	    <a href="{% url 'articles' %}">主站</a>
	    <script type="text/javascript">
	    	$('.captcha').click(function(){
        		console.log('click');
         		$.getJSON("/captcha/refresh/", function(result){
             		$('.captcha').attr('src', result['image_url']);
             		$('#id_captcha_0').val(result['key'])
          		});
          	});
	    </script>
	</div>
</div>
{% endblock %}