{% extends 'account_base.html'%}
{% block content %}
	<table class="table table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>标题</th>
				<th>类型</th>
				<th>时间</th>
				<th>赞</th>
			</tr>
		</thead>
		<tbody>
			{% for value in blogs %}
				<tr>
					<td></td>
					<td><a href="{% url 'article' value.id %}">{{ value.title }}</a></td>
					<td>{{ value.blog_type }}</td>
					<td>{{ value.pub_date }}</td>
					<td>{{ value.hot }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}