{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static '/bootstrap/css/bootstrap.min.css'%}">
        <script type="text/javascript" src="{%static '/jquery-3.1.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static '/ckeditor_full/ckeditor.js' %}"></script>
    </head>
    <body>

		<header id="header" class="">
			<div>
				<strong><em>django blogs</em></strong>
				<span>
                    {% if request.session.email %}
                        [<a href="/accounts/logout">注销</a>] 
                    {% else %}
                        [<a href="/accounts/login">登录</a>*<a href="/accounts/register">注册</a>] 
                    {% endif %}
                </span>
			</div>
		</header><!-- /header -->
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div>
					<ul class="nav navbar-nav navbar-inverse navbar-fixed-top">
						<li><a href="/blogs/articles">首页</a></li>
						<li><a href="{% url 'blog' %}">博客</a></li>
						<li><a href="{% url 'information' %}">个人信息</a></li>
						<li><a href="#">其他</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<article>
			<aside>
				<ul>
					
				</ul>
			</aside>
			<section class="content clearfix">
				<div>
					{% block content %}
						<div>这里是默认内容，所有继承自这个模板的，如果不覆盖就显示这里的默认内容。</div>
					{% endblock %}
				</div>
			</section>
		</article>
    </body>
</html>
<style type="text/css" media="screen">
	a {
		text-decoration: none;
	}
	#header div {
		display: flex;
		justify-content: space-between;
	}
	li {
		list-style: none;
	}
	.content {
		/*float: left;*/
		margin: 0px 80px;
		/*margin-top: -55px;*/
	}
</style>