{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static '/bootstrap/css/bootstrap.min.css'%}">
        <script type="text/javascript" src="{% static '/jquery-3.1.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static '/ckeditor_basic/ckeditor.js' %}"></script>
    </head>
    <body>

        <header id="header" class="">
            <div>
                <strong><em>django blogs</em></strong>
                <span>
                    {% if request.session.email %}
                        [<a href="/accounts/blog">个人中心</a>] 
                    {% else %}
                        [<a href="/accounts/login">登录</a>*<a href="/accounts/register">注册</a>] 
                    {% endif %}
                </span>
            </div>
        </header><!-- /header -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div>
                    <ul class="nav navbar-nav navbar-inverse navbar-fixed-top">
                        <li><a href="{% url 'articles' %}">所有</a></li>
                        <li><a href="{% url 'fiction' 1 %}">前端</a></li>
                        <li><a href="{% url 'fiction' 2 %}">后台</a></li>
                        <li><a href="{% url 'fiction' 3 %}">服务器</a></li>
                        <li><a href="{% url 'fiction' 4 %}">其他</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <article>
            <section class="content">
                <div>
                    <div>
                        <div class="article-title"><h2>{{article.title}}</h2><div>作者:<a href="/accounts/account/{{article.email}}/">{{article.author}}</a>--时间:{{article.pub_date}}</div></div>
                        {% autoescape off %}
                            <div class="article-content">
                                <p>{{article.content}}</p>
                            </div>
                        {% endautoescape %}
                    </div>
                    <hr/>
                    {% if request.session.email is not None %} 
                        <p>
                            <a href="{% url 'good' article.id %}">
                            <span class="glyphicon glyphicon-heart"></span> 
                            赞
                        </a>
                        {{ article.hot }}
                        </p>
                        
                        <form action="{% url 'create_comment' article.id %}" method="post" accept-charset="utf-8">
                            {% csrf_token %}
                            <textarea id="comment" name="editor1"></textarea>
                            <input type="submit" value="提交" class="btn btn-primary pull-right" />
                        </form>
                        <h4>评论:</h4>
                        <dl id="comments">
                        {% for i in comment %}
                            <dt>
                              {{ i.pub_date }} - {{ i.commentor }}
                            </dt>
                            <dd>
                                {% autoescape off %}
                                <p>{{ i.comment }}</p>
                                {% endautoescape %}
                            </dd>
                        {% endfor %}
                        </dl>
                    {% else %}
                        <a href="/accounts/login">留言?</a>
                    {% endif %}
                </div>
            </section>
        </article>
        <script type="text/javascript">
            CKEDITOR.replace( 'editor1' , {uiColor: '#9AB8F3'});
        </script>
    </body>
</html>
<style type="text/css" media="screen">
    html {
        width: 100%;
        height: 100%;
    }
    body {
        /*background-color: #fff;*/
        background: repeat url({% static '/image/aa.jpg'%});
        background-origin: content-box;
        width: 100%;
        height: 100%;
    }
    a {
        text-decoration: none;
    }
    #header div {
        display: flex;
        justify-content: space-between;
    }
    li {
        list-style: none;
    }
    dd {
        text-indent: 2em;
    }
    .article-title {
        display: flex;
        justify-content: space-between;
        line-height: 60px;
    }
    .article-content {
        text-indent: 2em;
    }
    .content {
        margin:0 30px;
    }
</style>