{% extends 'blog_base.html' %}
{% block content %}
    {% for value in blog_list %}
        <article>
            <header class="article-title">
                <h3><a href="{% url 'article' value.id%}">{{ value.title }}</a></h3>
                <span>{{ value.pub_date }}</span>
            </header>
            <section class="article-content">
                <p>
                    {% autoescape off %}
                        {{ value.summary }}
                    {% endautoescape %}
                </p>
                <p class="article-content-footer">
                    <span><a href="{% url 'fiction' value.blog_type.id %}">{{ value.blog_type}}</a></span> 
                    <span>赞:{{ value.hot }}</span>
                </p>
            </section>
        </article>
        <style type="text/css">
            .article-title, .article-content-footer {
                display: flex;
                justify-content: space-between;
            }
        </style>
    {% endfor %}
{% endblock %}