{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <script src="{% static '/jquery-3.1.1.min.js' %}"></script>
    </head>
    <body>

		<header id="header" class="">
			<div>
				<strong><em>django blogs</em></strong>
				<span>[<a href="#">登陆</a>*<a href="#">注册</a>]</span>
			</div>
		</header><!-- /header -->

    </body>
</html>
<style type="text/css" media="screen">
	a {
		text-decoration: none;
	}
	#header div {
		display: flex;
		justify-content: space-between;
	}
</style>