{% extends 'account_base.html' %}
{% block content%}
	<form method="post" accept-charset="utf-8">
		{% csrf_token %}
    	<p>
    		<label for="id_title">标题:</label> 
    		<input class="form-control" id="id_title" name="title" required="" type="text" value="{{ form.title }}">
    	</p>
        <p>
            <label for="id_summary">简介(可不填写):</label> <textarea class="form-control" cols="40" id="id_summary" name="summary" rows="3" style="width:98%;resize:none;">
                {{ form.summary }}
            </textarea>
        </p>
    	<textarea id="content" name="editor1">
    		{{ form.content }}
    	</textarea>
    	<script type="text/javascript">
    		CKEDITOR.replace( 'editor1' , {uiColor: '#9AB8F3'});
    	</script>
    	<input type="submit" value="提交" class="submit" name="">
	</form>
    <style type="text/css">
        .submit {
            display: block;
            width: 100px!important;
            height: 100px!important;
            position: fixed;
            bottom: 100px;
            right: 50px;
            color: #fff;
            background-color: #08c;
            border-radius: 50%;
            text-align: center;
            line-height: 100px;
            font-size: 30px;
        }
    </style>    
{% endblock %}